In [1]:
print("myself ankana")

myself ankana

In [2]:
1. Python
2. R
3. Julia
4. Scala

SyntaxError: invalid syntax (1962177822.py, line 1)

In [3]:
# Data Science Libraries in Jupyter

In this notebook, we will list some of the most popular data science libraries that are commonly used for data analysis, machine learning, and visualization:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. Keras

SyntaxError: invalid syntax (3913595461.py, line 3)

In [4]:
# Data Science Tools

Here is a table showing some popular Data Science tools:

| Tool          | Purpose                   |
|---------------|---------------------------|
| Jupyter       | Interactive computing     |
| RStudio       | Statistical computing     |
| Apache Spark  | Big data processing       |
| Tableau       | Data visualization        |
| MATLAB        | Numerical computing       |

SyntaxError: invalid syntax (3017253674.py, line 3)

In [5]:
# Arithmetic Expression Examples

In this notebook, we will demonstrate examples of basic arithmetic expressions, which include addition, subtraction, multiplication, and division:

1. Addition: `5 + 3`
2. Subtraction: `10 - 4`
3. Multiplication: `7 * 6`
4. Division: `20 / 5`

SyntaxError: invalid syntax (4141097010.py, line 3)

In [6]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)
# Result: 9

9

In [7]:
code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)
# Result: 24

24

In [8]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)
# Result: 65449.84694978735

65449.84694978735

In [9]:
(3*4)+5
# Result: 17days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

17

In [10]:
# Common Data Science Tasks

Below is a list of common tasks performed in data science:

- Data cleaning
- Data visualization
- Exploratory data analysis (EDA)
- Feature engineering
- Machine learning model development
- Model evaluation and tuning

SyntaxError: invalid syntax (1766735303.py, line 3)

In [ ]:
Ankana Mukherjee